/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.loading{
  cursor: progress !important;
}

a.lined {
  cursor: pointer;
  color: #0044cc;
  border-bottom: 1px solid #0044cc;
}

.status {
  display: block;
  border: 1px solid rgba(159,157,155,0.25);
  align-items: flex-start;
  padding: 30px;
  margin-bottom: 30px;
}
.status.success {
  color: green;
  border: 1px solid darkgreen;
}

.status.error {
  color: red;
  border: 1px solid darkred;
}

a.link {
  cursor: pointer;
  color: #0044cc;
}

a.link.active {
  color: maroon;
  border-bottom: 1px solid maroon;
}

a.link-icon {
  cursor: pointer;
  color: #0044cc;
}

.input {
  width: 200px;
  height: 30px;
  /*margin-left: 20px;*/
  margin-bottom: 10px;
  padding: 3px;
}

.input.file {
  border: 1px solid #D3DCE0;
  width: 300px;
}

.textarea {

}

table {
  border-collapse: collapse;
  font-feature-settings: "kern", "liga", "tnum";
  margin: 10px 0;
  table-layout: fixed;
  width: 100%;
  border: 1px solid #D3DCE0;
}

th {
  font-size: 15px;
  font-weight: 600;
  color: #252D37;
}
th.sortable {
  cursor: pointer;
}

td, th {
  border-bottom: 1px solid #D3DCE0;
  padding: 10px;
  text-align: left;
}
td.center, th.center {
  text-align: center;
}
td.right, th.right {
  text-align: right;
}
td:first-child, th:first-child {
  border-left: none;
}
table tr:hover td, table .active td {
  background: #f2f5f7;
}
table tr.nestedTable:hover td {
  background: #fff !important;
}
table tr.nestedTable tr:hover td {
  background: #f2f5f7 !important;
}

.modal-body>div {
  margin-bottom: 10px;
}
.modal-field-right {
  margin-left: 50px;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-bottom: 16px solid transparent;
  border-left: 18px solid rgba(255, 165, 0, 0.8);
  float: right;
}
.rectangle {
  float: left;
  height: 30px;
  background: rgba(255, 165, 0, 0.8);
  width: 90px;
  line-height: 30px;
  /* font-weight: bold; */
  padding-left: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}


.sndetail-role-1 {
  background-color: rgba(0,119,200,.5);
  border: 1px dashed #00538c;
  -webkit-transition: background-color,.2s;
  -o-transition: background-color,.2s;
  transition: background-color,.2s;
}

.sndetail-role-1>span {
  font-size: 13px;
  text-align: center;
  line-height: 13px;
  font-weight: 700;
  text-shadow: 0 1px rgba(255,255,255,.3);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logout {
  position: absolute;
  top: 10px;
  right: 30px;
}
