<div style="padding: auto; margin: 5% ;">
  <div style="display: block; border: 1px solid rgba(159,157,155,0.25); align-items: flex-start; padding: 30px;"  ng-if="!ctrl.loggedIn">
    <div style="margin: auto"><span>Login</span></div>
    <div>
      <span style="width: 30%;">Email</span> <input type="text" name="email" ng-model="ctrl.user.email">
    </div>
    <div>
      <span style="width: 30%;">Password</span> <input type="password" name="password" ng-model="ctrl.user.password">
    </div>
    <div>
      <button type="button" ng-click="ctrl.getOAuthToken()">Login</button>
    </div>
  </div>

  <div ng-if="ctrl.loggedIn" style="display: block; border: 1px solid rgba(159,157,155,0.25); align-items: flex-start; padding: 30px;">
    <div style="margin: auto"><span>Upload File</span></div>
    <div>
      <input name="inputFile" type="file" bind-file="" ng-model="ctrl.inputFile" accept=".doc, .docx, .png, .pdf"
             id="inputFile">
    </div>
    <div>
      <button type="button" ng-click="ctrl.uploadFile()">Upload File</button>
    </div>
  </div>

  <div ng-if="ctrl.loggedIn" style="padding: 30px 0;">


    <div style="display: flex; width: 100%">

      <div style="width: 55%; margin-right: 1%;">
        <div>
          <button type="button" ng-click="ctrl.getAllDocuments()">Get Documents</button>
        </div>
        <div>
        <table >
          <thead>
          <th width="30%">File</th>
          <!--<th width="20%" style="text-align: center">owner</th>-->
          <th width="20%" style="text-align: center"># of requests</th>
          <th width="30%" style="text-align: center">thumbnail</th>
          <th width="20%" style="text-align: center">Actions</th>
          </thead>
          <tr ng-repeat="doc in ctrl.allDocuments">
            <td><a class="lined" ng-click="ctrl.getDocument(doc)">{{doc.original_filename}}</a></td>
            <!--<td style="text-align: center">{{ doc.owner}}</td>-->
            <td style="text-align: center">{{doc.requests ? doc.requests.length : 'N/A'}}</td>
            <td style="text-align: center"><img style="border: 1px solid #d3dce0;" width="100" height="100" ng-src="{{doc.receivedImage}}"></td>

            <td style="text-align: center">
              <a class="link-icon" style="padding: 5px;" ng-click="ctrl.deleteDocument(doc)"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i></a>
              <a class="link-icon" style="padding: 5px;" ng-click="ctrl.updateDocument(doc)"><i class="fa fa-pencil-square fa-lg"></i></a>
              <a  class="link-icon" style="padding: 5px;" ng-click="ctrl.getDocument(doc)"><i class="fa fa-eye" aria-hidden="true"></i></a>
              <a  class="link-icon" ng-click="doc.collectRecipientInfo = true;"><i class="fa fa-share-square-o fa-lg" aria-hidden="true"></i></a>
              <span ng-if="doc.collectRecipientInfo">
                <input type="text" placeholder="Recipient Email" ng-model="ctrl.recipient">
                <input type="button" value="Send Invite" ng-click="ctrl.sendInvite(doc, ctrl.recipient)">
              </span>
            </td>

          </tr>
        </table>
        </div>
      </div>
      <div style="width: 41%; margin-right: 1%">
        <div style="display: inline-flex; margin-bottom: 6px;">
          <div>
            <a class="link" ng-class="{'active': ctrl.currentPage.pageIndex === $index || !ctrl.currentPage.pageIndex && $index === 0}" style="margin-right: 10px;" ng-repeat="page in ctrl.currentDocument.pages"
                  ng-click="ctrl.loadCurrentPage(page, $index)">{{$index + 1}}
            </a>
          </div>
          <div style="padding-left: 30px;"><h3 style="margin: 0 30px;">{{ctrl.currentDocument.original_filename}}</h3>
          </div>
        </div>
        <div><img style="border: 1px solid #d3dce0;" width="{{ctrl.currentPage.size.width}}"
                  height="{{ctrl.currentPage.size.height}}" src="{{ctrl.currentPage.receivedImage}}"></div>
      </div>
    </div>
    <div>

    </div>
  </div>
</div>